.env
as-env/
venv/
meeting_recording_queue/*
!/meeting_recording_queue/
!/meeting_recording_queue/.gitkeep
processed_video_files/*
!/processed_video_files/
!/processed_video_files/.gitkeep
processed_audio_files/*
!/processed_audio_files/
!/processed_audio_files/.gitkeep
transcripts/*
!/transcripts/
!/transcripts/.gitkeep
summaries/*
!/summaries/
!/summaries/.gitkeep
summary_type_presets/*
!/summary_type_presets/
!/summary_type_presets/meeting.txt
!/summary_type_presets/custom.txt
__pycache__/
