--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
PyYAML>=6.0.2,<7
whisperx @ git+https://github.com/m-bain/whisperX.git@2cfd7b7c5c7bba144954364db747319b50e8232b
